<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <div class="margn">
        <h6>Housy</h6>
        <label class="headline">Welcome Back to the portal. <br> Please login back</label><br>
        <button class="btn btn-defualt"  class="facebook">
          <span class="fa fa-facebook pull-left"></span> Login with Facebook</button>
        <button class="btn btn-primary" class="gmail">
          <span class="fa fa-google-plus pull-left"></span>Login with Gmail</button><br>
        <label class="or">-OR-</label><br>
        <label>Email Address</label><br>
        <input type="text"><br>
        <label>Password</label><br>
        <input type="password"><br>
        <input type="checkbox"><label>Remember me</label>
        <a href="#">Forgot Password</a><br>
        <button class="btn btn-primary">Login</button>
        <button class="btn btn-primary">Sign up</button><br>
        <label>By signing up you agree to the <a href="#">Terms and conditions</a>& <a href="#">Privacy Policy</a></label>
      </div>
    </div>
    <div class="col-sm-6">
      <img src="https://cdn1.vectorstock.com/i/1000x1000/13/40/geometric-pink-texture-background-vector-21931340.jpg" alt="">
    </div>
  </div>
</div>