<div class="container-fluid">
  <div class="sty">
  <div class="row">
    <div class="col-sm-6">
      <div class="margn">
        <h6>Housy</h6>
        <label class="headline">Welcome Back to the portal. <br> Please login back</label><br>
        <button class="btn btn-defualt"  class="facebook">
          <i class="material-icons" style="font-size: 20px">facebook</i> Login with Facebook</button>
        <button class="btn btn-primary" class="gmail">
          <i class="material-icons" style="font-size: 20px">gmail</i>Login with Gmail</button><br>
        <label class="or">-OR-</label><br>

        <label>Email Address</label><br>
        <input type="text" class="inputtext"><br>
        <label>Password</label><br>
        <input type="password" class="inputtext" style="margin-bottom: 3%;"><br>      
        <input type="checkbox"><label>Remember me</label>
        <a href="#" class="forgot">Forgot Password</a><br>
        <button class="btn btn-primary login">Login</button>
        <button class="btn btn-primary signup">Sign up</button><br>
        <label class="policy">By signing up you agree to the <br> <a href="#">Terms and conditions</a>& <a href="#">Privacy Policy</a></label>
      </div>
    </div>
    <div class="col-sm-6 img-back">
      <!-- <img src="https://cdn1.vectorstock.com/i/1000x1000/13/40/geometric-p ink-texture-background-vector-21931340.jpg" alt="" style="height: 625px;"> -->
      <h5 class="dataHeading">How it Works?</h5>
      <p class="data">
        Create a account and get to <br> know more about it
      </p>
    </div>
  </div>
</div>
</div>